:root {
  --font-colour: #ffffff;
  --background: #f9f9f9;
  --primary-colour: #31511e;
  --font-size-small: 16px;
  --font-size-medium: 18px;
  --font-size-large: 24px;
}

body {
  color: var(--font-colour);
  background: var(--background);
}

.content {
  padding: 12px;
  max-width: 1200px;
  margin: auto;
}
